<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-info navbar-dark">
        <a class="navbar-brand" href="#">Admin</a>
        <div class="col-8">
            <ul class="navbar-nav text-dark">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/admin/home/index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/admin/Categories/index">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/admin/Brands/index">Brands</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/admin/Products/index">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/admin/Users/index">Users</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/Account/logout">Logout</a>
                    </li>                    
                }
            </ul>
        </div>
        @if (User.Identity.IsAuthenticated == true)
        {
            <div class="">
                Welcome @User.Identity.Name
            </div>
        }

    </nav>
    <div class="container-fluid">
        @RenderBody()
    </div>
</body>
</html>
